.main__div {
  height: 100vh;
  margin: 0, 0, 30px, 0;
}

.squere {
  width: 150px;
  height: 150px;
  background-color: green;
}

.rectangle {
  width: 300px;
  height: 150px;
  background-color: green;
}

.circle {
  width: 150px;
  height: 150px;
  background-color: green;
  border-radius: 50%;
}

.oval {
  width: 300px;
  height: 150px;
  background-color: green;
  border-radius: 50%;
}

.trapezoid {
  width: 200px;
  border-bottom: 100px solid green;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.parallelogram {
  width: 150px;
  height: 100px;
  background-color: green;
  transform: skew(15deg);
}
